.textForm{
	display:flex;
	justify_content:center;
	font-size:30px;
	place_item: center;
	height: 600px;
	padding: 20px;
	width:100%;
	

}

.textinfo{
	borde-sizing: border-box;
	background: #ecf0f3;
	padding: 40px;
	border-radius: 20px;
	width:100%;
	height:auto;

}

input {
	width: 90%;
	height:40px;
	display:flex;
	justify_content:center
}

label{
	padding:10px;
}
