:root{
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1400px;
    }

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.name-section{
    width:100%;
    color: black;
    font-size:20px;
    text-align:center;
    padding:20px
}

.name-gn{
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    font-size: 1.9rem;
    color: black;
    font-size: 5rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    font-family: 'Montserrat', sans-serif;
}

.name-analist{
    color: var(--text-light);
    font-size: 1.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding:10px;
}